<template name="home">
  <div class="container">
    
    <div class="text-center">
      <h1>Hosted web crawler for humans</h1>
      <p class="small">Not a developer ? No worries! We got you covered.</p>
      
      <a href="#exampleCrawlers" id="try_button" role="button" class="btn btn-warning btn-lg pull-center try_button"> 
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" style="top:3px;"></span>
            &nbsp;&nbsp;Run example&nbsp;&nbsp;
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" style="top:3px;"></span>
      </a>
    </div>
    
    {{>marketing}}
    
    {{>common_questions}}
    
    {{>example_index}}
  </div>
</template>