<template name="marketing">
    <div class="row" style="margin-top:9%;">
            
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Full JavaScript power</h3>
                    </div>
                    <div class="panel-body">
                        <p style="margin-bottom: 0px;">
                            Tell the crawler what to do using a few simple lines of Javascript
                            with jQuery, Underscore.js or any other client-side library.
                            Your code runs in a browser hosted on our servers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Navigates arbitrary websites</h3>
                    </div>
                    <div class="panel-body">
                        <p style="margin-bottom: 0px;">
                            Crawl and extract data from websites that
                            employ AJAX, complex pagination or infinite scroll
                            using the same tools you already use for your front-end development.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Entirely in&nbsp;cloud</h3>
                    </div>
                    <div class="panel-body">
                        <p style="margin-bottom: 0px;">
                            No need to install browser plugins, download any tools,
                            setup cron jobs, databases or proxy servers.
                            You already have all you need - your current web browser.</p>
                    </div>
                </div>
            </div>
        </div>
</template>